{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/story-card.css') }}">
{% endblock %}

<div class="story-card">
    <div class="story-card-title">{{ story.title }}</div>
    <div class="story-card-description">{{ story.description }}</div>
    <div class="story-card-footer">
        <a href="{{ url_for('story_read.read', story_id=story.id) }}">Read More</a>
        <a href="{{ url_for('story_editor.editor', story_id=story.id) }}">Edit</a>
    </div>
</div>