html {
    height: 100%;
}

h1 {
    text-align: center;
}

body {
    background-image: url("/static/pictures/joli_paysage.jpg");
    background-size:100% ;
}

#characters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: max-content;*/
    margin: 0 5%;
    position: absolute;
    bottom: 30%;
    width: 90%;
}

.picture {
    width: 30%;
    height: max-content;

    
}

#p2 {
    transform: rotateY(180deg);
}

.bubble {
    position:absolute;
    bottom: 50px; /* distance from the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    border-style:solid;
    border-color: black;
    background-color: white;
    height: 20%; 
    padding: 1% 3%;
    width: 80%;
}

.speaker {
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 20px;
    position:relative;
    margin: 10px 0;
    height: 12vh;
    width:100%;
}

.next {
    position: absolute;
    bottom: 0; /* distance from the bottom of box */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 20%;
    border-radius: 0%;
}

.next:hover{
    background-color: green;
}
