{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/story-card.css') }}">
{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}!</h1>
<h2>Your Stories</h2>

<div class="stories-container">
    {% if user.user_stories %}
        {% for user_story in user.user_stories %}
            {% set story = user_story.story %}
            {% include "story_card.html" %}
        {% endfor %}
    {% else %}
    <p>You are not reading any stories yet.</p>
    {% endif %}
</div>
<div class="create-story">
    <a href="/editor/new"> Create a new story </a>
</div>
{% endblock %}