<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="../static/styles/home.css" />
</head>
<body>
    <header>
        <h1>Chapter 0</h1>
    </header>
    <main>
        <div id="characters">
            <img id="p1" class="picture" src="../static/pictures/p1.png" alt="Picture of the first character">
            <img id="p2" class="picture" src="../static/pictures/p2.png" alt="Picture of the second character">
        </div>
        <div class="bubble"> 
            <div class="name">
                Yoya
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aliquam excepturi nemo optio tempore blanditiis, perspiciatis ut, voluptas voluptate sint dignissimos quidem ducimus eveniet quis iste nostrum dolor maiores beatae.
            </div>
        </div>
    </main>
</body>
</html>
